<div class="item-content">
    <div class="basic-content-root">
      <div class="basic-content-main">
        <div class="basic-content-main-pic">
          <div class="pic-gallery">
            <div class="pic-gallery-main-pic-wrap">
              <img class="pic-gallery-main-pic"
                src="https://gw.alicdn.com/imgextra/i1/2206908552998/O1CN01vFXNGB1Y18J8dZ8hi_!!2206908552998.jpg_Q75.jpg_.webp"
                style="padding-top: 0px; width: 338px; height: 450px;"
              >
            </div>
            <ul class="pic-gallery-thumbnails">
              <li class="pic-gallery-thumbnails-li">
                <img class="pic-gallery-thumbnails-li-pic"
                  src="//gw.alicdn.com/imgextra/i1/2206908552998/O1CN01KLdVTu1Y18J6g1EGy_!!0-item_pic.jpg_110x10000Q75.jpg_.webp"
                >
              </li>
              <li class="pic-gallery-thumbnails-li">
                <img class="pic-gallery-thumbnails-li-pic"
                  src="//gw.alicdn.com/imgextra/i1/2206908552998/O1CN01KLdVTu1Y18J6g1EGy_!!0-item_pic.jpg_110x10000Q75.jpg_.webp"
                >
              </li>
              <li class="pic-gallery-thumbnails-li">
                <img class="pic-gallery-thumbnails-li-pic"
                  src="https://gw.alicdn.com/imgextra/i2/2206908552998/O1CN01XE6GqR1Y18JBWFoEV_!!2206908552998.jpg_110x10000Q75.jpg_.webp"
                >
              </li>
              <li class="pic-gallery-thumbnails-li">
                <img class="pic-gallery-thumbnails-li-pic"
                  src="//gw.alicdn.com/imgextra/i1/2206908552998/O1CN01KLdVTu1Y18J6g1EGy_!!0-item_pic.jpg_110x10000Q75.jpg_.webp"
                >
              </li>
              <li class="pic-gallery-thumbnails-li">
                <img class="pic-gallery-thumbnails-li-pic"
                  src="https://gw.alicdn.com/imgextra/i2/2206908552998/O1CN01XE6GqR1Y18JBWFoEV_!!2206908552998.jpg_110x10000Q75.jpg_.webp"
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="basic-content-item-info">
          <div class="item-header">
            <h1 class="item-header-main-title">Kính hiển vi ánh sáng trẻ em Chenguang Thí nghiệm khoa học cầm tay cầm tay chuyên nghiệp Tế bào vi khuẩn chuyên nghiệp Máy tính để bàn mini chính hãng HD 400 lần Máy tính được kết nối Quà tặng sinh nhật</h1>
            <div class="item-header-subtitle">
              <span  class="item-header-salesDesc">100+ đã bán</span>
            </div>
          </div>
          <div class="price-root">
            <div class="origin-price">
              <span>199.999</span>
              <span>đ</span>
            </div>
            <div class="price-oversea-price">
              <span class="price-oversea-price-text">Xấp xỉ USD 27,58</span>
            </div>
          </div>
          <div class="basic-content-sku">
            <div class="sku-wrapper">
              <div class="block">
                <div>
                  <div class="skuCate">
                    <span class="skuCateText pcSkuCateText">
                      Màu sắc:
                    </span>
                    <div class="skuItemWrapper">
                      <div class="skuItem">
                        <div>
                          <img class="skuIcon" src="https://gw.alicdn.com/bao/uploaded/i2/2210629795441/O1CN01dJbZMf1q41jzgZ11u_!!2210629795441.jpg_60x60q50.jpg_.webp"
                          style="opacity: 1; object-fit: contain;">
                          <span class="skuValueName">
                            3ol Green [Bộ lụa băng]
                          </span>
                        </div>
                      </div>
                      <div class="skuItem">
                        <div>
                          <img class="skuIcon" src="https://gw.alicdn.com/bao/uploaded/i2/2210629795441/O1CN01nC42UR1q41l9Te0tz_!!2210629795441.jpg_60x60q50.jpg_.webp"
                          style="opacity: 1; object-fit: contain;">
                          <span class="skuValueName">
                            Giếng Nghiên Cứu Xanh 301
                          </span>
                        </div>
                      </div>
                      <div class="skuItem">
                        <div>
                          <img class="skuIcon" src="https://gw.alicdn.com/bao/uploaded/i1/2210629795441/O1CN019C5glp1q41jsGJKkD_!!2210629795441.jpg_60x60q50.jpg_.webp"
                          style="opacity: 1; object-fit: contain;">
                          <span class="skuValueName">
                            3ol xanh đậm [bộ đồ lụa băng]
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="skuCate">
                    <span class="skuCateText pcSkuCateText">
                      Màu sắc:
                    </span>
                    <div class="skuItemWrapper">
                      <div class="skuItem">
                        <div>
                          <span class="skuValueName">
                            100cm (chiều cao khuyến nghị trong vòng 100cm)
                          </span>
                        </div>
                      </div>
                      <div class="skuItem">
                        <div>
                          <span class="skuValueName">
                            130cm (chiều cao khuyến nghị 120-130cm)
                          </span>
                        </div>
                      </div>
                      <div class="skuItem">
                        <div>
                          <span class="skuValueName">
                            140cm (chiều cao khuyến nghị 130-140cm)
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="quantityLine">
            <div>
              <span class="countText">Số lượng: </span>
              <div class="countWrapper">
                <div class="quantityBtn minusBtn disabled">
                  <span class="quantityBtnTextForPC">-</span>
                </div>
                <div class="countValueWrapper">
                  <input class="countValueForPC" value="1" height="0" autocomplete="false">
                </div>
                <div class="quantityBtn addBtn">
                  <span class="quantityBtnTextForPC">+</span>
                </div>
              </div>
              <div class="quantityTip"></div>
            </div>
          </div>
          <div class="actions">
            <div class="actions-leftButtons">
              <button class="actions-btn leftBtn">
                <span>Mua ngay bây giờ</span>
              </button>
              <button class="actions-btn rightBtn">
                <span>Thêm vào giỏ hàng</span>
              </button>
            </div>
            <div class="actions-divider"></div>
            <div class="actions-rightButtons">
              <button class="actions-collect">
                <span class="actions-icon">
                  ⭐
                </span>
                <span class="actions-text">
                  Bộ sưu tập
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recommend"></div>
    <div class="tabs"></div>
</div>