<search></search>
-------------------------------------------------------------------------------------------------
<br>
<app-button></app-button>
<app-button [primary]="true" [text]="'button primary'"></app-button>

<br>
-------------------------------------------------------------------------------------------------

<app-detail-product></app-detail-product>

-------------------------------------------------------------------------------------------------

<div class="rax-view list">
  <app-card-product *ngFor="let i of [].constructor(20)"></app-card-product>
</div>