.detail-btn-primary {
    height: 36px;
    line-height: 1;
    border-radius: 18px;
    padding: 0 16px;
    border: none;
    background-color: #ff5000;
    color: #fff;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.detail-btn {
    height: 36px;
    line-height: 1;
    border-radius: 18px;
    padding: 0 16px;
    border: none;
    background-color: #f6f6f6;
    color: #333;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}