<a target="_blank" class="item">
    <div class="rax-view item-image-wrap">
      <img class="rax-image item-image"
      src="https://down-vn.img.susercontent.com/file/sg-11134301-7rblc-lq356cca6puo93_tn.webp"
      style="width: 215px; height: 215px; object-fit: contain;"
      >
      <a class="find-similar" target="_blank">
        <span class="rax-text-v2 find-similar-text">Tìm sản phẩm tương tự</span>
      </a>
    </div>
    <div class="rax-view item-title">
      <div class="rax-view promo-icon-wrap">
        <span class="title-text">
          Tai Nghe Bluetooth 5.3 Không Dây HIFI HK3 TWS Chất 1234 Lượng Cao Tai Nghe Bluetooth 5.3 Không Dây HIFI HK3 TWS Chất Lượng Cao
        </span>
      </div>
    </div>
    <div class="rax-view item-price">
      <span class="rax-text-v2 price-text">199.000</span>
      <span class="rax-text-v2 symbol-text">đ</span>
      <span class="rax-text-v2 bought-text">100+ đã bán</span>
    </div>
  </a>